/* 공통 스타일 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  h1 {
    font-size: 80px;
    margin-left: 100px;
  }
  
  img {
    width:225px;
    height:225px;
  }
  /* 헤더 스타일 */
  header {
    display: flex;
    align-items: center;
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    height: 150px;
    justify-content: space-around;
  }
  
  .menu-icon {
    cursor: pointer;
  }
  
  .menu-icon .bar {
    width: 120px;
    height: 20px;
    background-color: white;
    margin: 15px 0;
  }
  
  /* 메뉴 스타일 */
  #menu {
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
    transition: 0.3s;
  }
  
  .menu-header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    height: 120px;
    font-size: 100px;
  }
  
  .back-icon {
    cursor: pointer;
  }
  
  #menu ul {
    margin-top: 20px;
    font-size: 100px;
  }
  
  #menu ul li {
    font-size: 50px;
    margin-left: 30px;
  }
  
  #menu.visible {
    width: 80%;
    height: 90%;
    box-shadow: 5px 5px 5px 5px gray;
  }
  
  #menu.hidden {
    width: 0;
  }

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.dropdown-button1 {
  padding: 10px 20px;
  background-color: #ff7272;
  border: none;
  color: white;
  cursor: pointer;
  width: 350px;
  height: 300px;
  font-size: 130px;
  margin-left: 24px;
  margin-right: 7px;
}

.dropdown-button2 {
  padding: 10px 20px;
  background-color: #72aaff;
  border: none;
  color: white;
  cursor: pointer;
  width: 350px;
  height: 300px;
  font-size: 130px;
  margin-left: 7px;
}


.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: none;
  font-size: 50px;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}
  /* 메인 콘텐츠 스타일 */
  .main-content {
    padding: 20px;
  }
  
  section {
    width: 900px;
    height: 1550px;
  }

  article {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* 푸터 스타일 */
  footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
  }
  
  