/* 공통 스타일 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  h1 {
    font-size: 80px;
    margin-left: 50px;
  }
  
  img {
    width:225px;
    height:225px;
  }
  /* 헤더 스타일 */
  header {
    display: flex;
    align-items: center;
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    height: 150px;
    justify-content: space-around;
  }
  
  .menu-icon {
    cursor: pointer;
  }
  
  .menu-icon .bar {
    width: 120px;
    height: 20px;
    background-color: white;
    margin: 15px 0;
  }
  
  /* 메뉴 스타일 */
  #menu {
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
    transition: 0.3s;
  }
  
  .menu-header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
  }
  
  .back-icon {
    cursor: pointer;
  }
  
  #menu ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
  }
  
  #menu ul li {
    margin: 10px;
  }
  
  #menu.visible {
    width: 80%;
    height: 100%;
  }
  
  #menu.hidden {
    width: 0;
  }

  /* 메인 콘텐츠 스타일 */
  .main-content {
    padding: 20px;
  }
  
  article {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* 푸터 스타일 */
  footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
  }
  